<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center">Revista Vector</h1>
            <div class="row center">
                <h5 class="header col s12">Revista cientifica y tecnologica de la universidad de caldas</h5>
            </div>
            <div class="row center">
                <!-- Modal Trigger -->
                <a class="modal-trigger waves-effect waves-light btn-large" href="#modal1">Ingresar</a>
                &nbsp;&nbsp;
                <a class="waves-effect waves-light btn-large" href="/lista-de-articulos" >Articulos</a> 
                <!-- Modal Structure -->               
                <div id="modal1" class="modal modal-bg">     
                    <div class="container">
                        <h1 class="header center modal-header">Ingresar</h1>       
                    </div>
                    <div class="container container-modal">
                        <br><br>
                        <div class="container">
                            <p></p>
                            <input [(ngModel)]="correo" id="correo" type="email" class="validate">
                            <label for="correo">Correo</label>     
                            <p></p>      
                            <input [(ngModel)]="password" id="password" type="password" class="validate">
                            <label for="password">Contraseña</label>
                            <p></p>
                        </div>                                   
                    </div>
                    <p></p>
                    <a class="password" href="/cambiar-password">olvidaste tu contraseña?</a>
                    <p></p>
                    <div class="modal-footer">
                        <a (click)="loginUser()" class="btn btn-primary">Aceptar</a>
                    </div>
                </div>           
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="/assets/img/science.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="indigo darken-4">
    <div class="container">
        <div class="section">           
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center white-text"><i class="material-icons">border_color</i></h2>
                        <h5 class="center">Descripcion</h5>
                        
                        <p class="light" style="color: white">Revista de difusión de las
                            actividades docentes, científicas y tecnológicas llevadas a cabo por el talento humano de la
                            comunidad ingenieril nacional e internacional. Nuestro objetivo fundamental es difundir el
                            conocimiento, a través de los resultados originales producto de investigaciones científicas,
                            que representen una contribución para el desarrollo de la ciencia y la tecnología.</p>
                        </div>
                    </div>          
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center white-text"><i class="material-icons">done_all</i></h2>
                            <h5 class="center">Evaluacion</h5>
                            
                            <p class="light" style="color: white"> La evaluación no es una actividad orientada a verificar
                                mediante listas
                                de chequeo esquemas reproductivos en escritura académica, ni la inclusión o no
                                de determinadas partes o secciones en los artículos sin tener en cuenta aspectos
                                contextuales, disciplinares, de finalidad comunicativa y de género discursivo como
                                fenómeno textual dinámico. Tampoco es la evaluación un instrumento de poder
                                del editor y del evaluador. En suma, nuestro enfoque evaluativo es textual,
                                interaccional y formativo.</p>
                            </div>
                        </div>              
                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center white-text"><i class="material-icons">class</i></h2>
                                <h5 class="center">Clasificacion</h5>
                                
                                <p class="light" style="color: white">De acuerdo con la siguiente descripción formulada por
                                    Colciencias (2008), los
                                    autores pueden presentar para publicación las siguientes tipologías textuales:<br>
                                    a) Artículo de investigación científica y tecnológica.<br>b) Artículo de reflexión.<br>c)
                                    Artículo de revisión.<br>d) Artículo corto.<br>e) Reporte de caso.<br>f) Revisión de tema.
                                </p>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h1>¡Contactanos!</h1>
                        <h3 class="header col s12 #023859">Queremos que te pongas en contacto con nosotros para compartir tus
                            comentarios, opiniones y necesidades o para recibir una asesoría completa sobre un producto o
                            servicio de tu interés.</h3>
                        </div>
                    </div>
                </div>
                <div class="parallax"><img src="/assets/img/star-trail.jpg" alt="Unsplashed background img 3"></div>
            </div>