
<div class="row">
        <div class="col s8 offset-s2">
                <h2 class="header">Revista vector</h2>
                <div class="card horizontal">
                    <div class="card-image">
                            <img src="https://image.flaticon.com/icons/png/512/449/449027.png" style="width:300px;height:300px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h5 class="header">{{edicionActiva.Nombre}}</h5>
                            <p>{{edicionActiva.Descripcion}}</p>
                        </div>
            
                    </div>
                </div>
            </div>
</div>




<div class="row">
    <div class="col s10 offset-s1">

        <ul class="collapsible expandible">
            <li>
                <div class="collapsible-header">Articulos de la edicion</div>
                <div class="collapsible-body">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 30%;">Id</th>
                                <th style="width: 35%;">Nombre</th>
                                <th style="width: 30%;">Accion</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let a of listaArticulos" >
                                <td>{{a.id}}</td>
                                <td>{{a.Titulo}}</td>

                                <td >
                                    <a class="waves-effect waves-light btn">Detalles</a>
                                    <a class="waves-effect waves-light btn">Descargar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>

        </ul>
    </div>
</div>
<div class="row">
    <div class="col s4 offset-s3">
        <a routerLink="ediciones" class="waves-effect waves-light btn-large blue">Ediciones antiguas</a>
    </div>
    <div class="col s4 ">
        <a routerLink="crear_edicion" class="waves-effect waves-light btn-large green">Crear nueva edicion</a>
    </div>

</div>