<footer class="page-footer indigo darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Importante!!!</h5>
                <p class="grey-text text-lighten-4">Todos las marcas registradas son propiedad de la compañía respectiva o de PUBLICACIONES VECTOR S.A. Se prohíbe la reproducción total o parcial de cualquiera de los contenidos que aquí aparezca, así como su traducción a cualquier idioma sin autorización escrita de su titular.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Materias</h5>
                <ul>
                    <li><a class="white-text" href="#!">Tecnologia</a></li>
                    <li><a class="white-text" href="#!">Medio ambiente</a></li>
                    <li><a class="white-text" href="#!">Fisica</a></li>
                    <li><a class="white-text" href="#!">Matematicas</a></li>
                    <li><a class="white-text" href="#!">Biologia</a></li>
                    <li><a class="white-text" href="#!">Medicina</a></li>
                    <li><a class="white-text" href="#!">Sociedad</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Otros</h5>
                <ul>
                    <li><a class="white-text" href="#!">¿Quienes somos?</a></li>
                    <li><a class="white-text" href="#!">Boletines</a></li>
                    <li><a class="white-text" href="#!">Promociones</a></li>
                    <li><a class="white-text" href="#!">Condiciones de venta</a></li>
                    <li><a class="white-text" href="#!">Publicidad</a></li>
                    <li><a class="white-text" href="#!">Normas de publicacion</a></li>
                    <li><a class="white-text" href="#!">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">masterProgrammer69</a>
        </div>
    </div>
</footer>