<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h3 class="header col s12 light">¡Puedes disfrutar de todos nuestros articulos gratuitos y descargarlos!</h3>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/assets/img/teclado.jpg" alt="Unsplashed background img 2" style="opacity: 1; transform: translate3d(-50%, 244.562px, 0px);"></div>
</div>
<div class="indigo darken-4">
    <br>
    <div class="container tabla-home">
        <div class="section">      
            <div class="row">
                <div class="col s12 center">
                    <h2>Lista de articulos:</h2>
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Abstract</th>
                                <th>Fecha</th>
                                <th>Accion</th>
                            </tr>
                        </thead>          
                        <tbody>
                            <tr *ngFor="let articulo of listaArticulos | paginate: { itemsPerPage: 3, currentPage: cp, totalItems:total }">
                                <td style="width: 15%;">{{articulo.Titulo}}</td>
                                <td style="width: 50%;">{{articulo.Abstract}}</td>
                                <td>{{articulo.Fecha | date}}</td>
                                <td>
                                    <a class="waves-effect waves-light btn green"><i class="material-icons right">get_app</i>Descargar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="cp = $event"></pagination-controls>
                </div>
            </div>              
        </div>
    </div>
    <br>
</div>
