<a class="waves-effect waves-light btn modal-trigger" href="#modal2">Modal</a>

<!-- Modal Structure -->
<div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5>Titulo</h5>
        <h6>Titulo de prueba 1</h6>

        <h5>Autor</h5>
        <h6>Autor de prueba 1</h6>

        <h5>Palabras clave</h5>
        <h6>Palabras clave de prueba 1</h6>

        <h5>Revista</h5>
        <h6>Revista 1</h6>

        <h5>Evaluadores</h5>
        <h6>A,B,C</h6>

    </div>

    <div class="modal-footer">
        <a class="waves-effect waves-light btn-small green" (click)="descargarArchivo()">Descargar</a>
    </div>
</div>

<div class="center">
    <h2>
        Versiones antiguas de la revista
    </h2>
</div>

<div class="row">
    <div class="col s10 offset-s1">

        <ul class="collapsible expandible">
            <li>
                <div class="collapsible-header">Articulos de la edicion 1</div>
                <div class="collapsible-body">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 30%;">Id</th>
                                <th style="width: 35%;">Nombre</th>
                                <th style="width: 30%;">Accion</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Id 1</td>
                                <td>Articulo 1</td>

                                <td>
                                    <a class="waves-effect waves-light btn">Detalles</a>
                                    <a class="waves-effect waves-light btn">Descargar</a>
                                </td>

                            </tr>

                            <tr>
                                <td>Id 2</td>
                                <td>Articulo 2</td>

                                <td>
                                    <a class="waves-effect waves-light btn">Detalles</a>
                                    <a class="waves-effect waves-light btn">Descargar</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Articulos de la edicion 2</div>
                <div class="collapsible-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Accion</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Id 1</td>
                                <td>Articulo 1</td>

                                <td>

                                    <a class="waves-effect waves-light btn">Detalles</a>
                                    <a class="waves-effect waves-light btn">Descargar</a>
                                </td>

                            </tr>

                            <tr>
                                <td>Id 2</td>
                                <td>Articulo 2</td>

                                <td>
                                    <a class="waves-effect waves-light btn">Detalles</a>
                                    <a class="waves-effect waves-light btn">Descargar</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Articulos de la edicion 3</div>
                <div class="collapsible-body">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 30%;">Id</th>
                                <th style="width: 35%;">Nombre</th>
                                <th style="width: 30%;">Accion</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Id 1</td>
                                <td>Articulo 1</td>

                                <td>
                                    <a class="waves-effect waves-light btn">Detalles</a>
                                    <a class="waves-effect waves-light btn">Descargar</a>
                                </td>

                            </tr>

                            <tr>
                                <td>Id 2</td>
                                <td>Articulo 2</td>

                                <td>
                                    <a class="waves-effect waves-light btn">Detalles</a>
                                    <a class="waves-effect waves-light btn">Descargar</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>

        </ul>
    </div>
</div>