

<div class="center">
    <h2>
        Versiones antiguas de la revista
    </h2>
</div>

<div class="row">
    <div class="col s10 offset-s1">

        <ul class="collapsible">
            <ng-container *ngFor="let edi of edicionesViejas">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{edi.Nombre}}</div>
                    <div class="collapsible-body"><span>
                            <h5>Rechazados</h5>
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 45%;">Titulo</th>
                                        <th style="width: 45%;">Autor</th>
                                        <th style="width: 5%;"></th>
                                        <th style="width: 5%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let a of listaArticulos">
                                        <ng-container *ngIf="a.IdEdicion==edi.id && a.Estado=='rechazado'">
                                            <tr>
                                                <td>{{a.Titulo}}</td>
                                                <td>{{a.Autor}}</td>
                                                <td>

                                                    <a class="btn-floating btn-large waves-effect waves-light orange modal-trigger"
                                                        href="#modal6" (click)="asignaInformacionModal(a.id)"><i
                                                            class="material-icons">library_books</i></a>

                                                </td>
                                                <td>
                                                    <a class="btn-floating btn-large waves-effect waves-light green"><i
                                                            class="material-icons">file_download</i></a></td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>

                                </tbody>
                            </table>


                            <h5>Aceptados</h5>
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 45%;">Titulo</th>
                                        <th style="width: 45%;">Autor</th>
                                        <th style="width: 5%;"></th>
                                        <th style="width: 5%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let a of listaArticulos">
                                        <ng-container *ngIf="a.IdEdicion==edi.id && a.Estado=='aceptado'">
                                            <tr>
                                                <td>{{a.Titulo}}</td>
                                                <td>{{a.Autor}}</td>
                                                <td>

                                                    <a class="btn-floating btn-large waves-effect waves-light orange modal-trigger"
                                                        href="#modal6" (click)="asignaInformacionModal(a.id)"><i
                                                            class="material-icons">library_books</i></a>

                                                </td>
                                                <td>
                                                    <a class="btn-floating btn-large waves-effect waves-light green"><i
                                                            class="material-icons">file_download</i></a></td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>

                                </tbody>
                            </table>




                        </span></div>
                </li>
            </ng-container>

        </ul>
    </div>
</div>


  <!-- Modal Structure -->
  <div id="modal6" class="modal">
        <div class="modal-content">
                <h5>Titulo</h5>
                <h6>{{articuloTemporal.Titulo}}</h6>
    
                <h5>Autor</h5>
                <h6>{{articuloTemporal.Autor}}</h6>
    
                <h5>Palabras clave</h5>
                <h6>{{articuloTemporal.PalabrasClave}}</h6>
    
                <h5>Abstract</h5>
                <h6>{{articuloTemporal.Abstract}}</h6>
    
                <h5>Evaluadores</h5>
                <h6>A,B,C</h6>
    
            </div>
  </div>