div{
    text-align: left;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

body{
    background-image:url("/assets/img/data-blur.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}
