
<body>
    <br>
    <div class="container">
        <h2>Lista de articuloss:</h2>
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Resultados</th>
                    <th>Accion</th>
                </tr>
            </thead>          
            <tbody>
                <tr *ngFor="let articulo of listaArticulos">
                    <td style="width: 40%;">{{articulo.Titulo}}</td>
                    <td>{{articulo.Fecha | date}}</td>
                    <td>{{articulo.Estado}}</td>
                    <td >
                        <div *ngIf="articulo.Estado!='enviado'">
                            <a class="waves-effect waves-light btn green"><i class="material-icons right">edit</i>Ver</a>
                        </div>
                    </td>
                    <td>
                        <a class="waves-effect waves-light btn green"><i class="material-icons right">get_app</i>Descargar</a>
                        &nbsp;
                        <a href="/autor/editar-articulo/{{articulo.id}}" class="waves-effect waves-light btn blue"><i class="material-icons right">edit</i>Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br>
</body>
