<form [formGroup]="articuloFormGroup" (ngSubmit)="guardarArticulo()">
    <body>
        <br><br>
        <div class="container row">
            <br>
            <div class="col s12">
                <h4>Formulario para registrar articulo:</h4>
                <fieldset>
                    <legend>
                        <h6>Informacion de el articulo:</h6>
                    </legend>  
                    <div class="row">
                        <div class="input-field col s6">
                            <input formControlName="titulo" id="titulo" type="text" class="validate">
                            <label for="titulo">Titulo</label>
                            <div class="errorContainer" *ngIf="(Titulo.touched ||Titulo.dirty) && Titulo.invalid">
                                <div class="card-panel red">
                                    Este campo es requerido!
                                </div>
                            </div>
                        </div>
                        <div class="input-field col s6">
                            <textarea formControlName="abstract" id="abstract" class="materialize-textarea"></textarea>
                            <label for="abstract">Abstract</label>
                            <div class="errorContainer" *ngIf="(Abstract.touched ||Abstract.dirty) && Abstract.invalid">
                                <div class="card-panel red">
                                    Este campo es requerido!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input formControlName="palabrasClave" id="palabras_clave" type="text" class="validate">
                            <label for="palabras_clave">Palabras clave</label>
                            <div class="errorContainer" *ngIf="(PalabrasClave.touched ||PalabrasClave.dirty) && PalabrasClave.invalid">
                                <div class="card-panel red">
                                    Este campo es requerido!
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br><br>
                <div class="row">
                    <div class="input-field col s2">
                        <button class="btn green" type="submit">
                            Guardar
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <br><br>
    </body>
</form>