<body>
    <br><br>
    <div class="container row">
        <form class="col s12">
            <div class="center">
                <h4>Entre el correo asociado a la cuenta</h4>
            </div>
            <br>
            <div class="row">
                <div class="col s3"></div>
                <div class="input-field col s6">
                    <label for="email">Correo electronico</label>
                    <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="email" type="email" class="validate">     
                </div>
            </div>
            
            <div class="input-field col s3"></div>
            
            <div class="center">
                <div class="input-field col s3 ">
                    <a class="waves-effect green darken-4 btn modal-trigger" href="#modal1"><i class="material-icons right">email</i>Enviar</a>
                    
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal modal-bg">
                        <div class="modal-content">
                            <h4 class="h4-modal">Enviado</h4>
                            <p class="p-modal">Se ha enviado un correo a la direccion {{password}} para poder reestablecer su contraseña.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="waves-effect green darken-4 btn">Aceptar</a>
                        </div>
                    </div>
                    
                </div>
                <div class="input-field col s6">
                    <a class="waves-effect red darken-3 btn"><i class="material-icons right">close</i>Cancelar</a>
                </div>
                
            </div>
        </form>
    </div>
    <br>
</body>